<section class="repo-inner">
  <header class="header">
    <h1 class="title-repo">{{vm.repoData.name}}</h1>

    <ul class="info-repo">
      <li class="item-info">

        <a class="link-repo" href="{{vm.repoData.html_url}}" target="_blank">{{vm.repoData.name}}</a>
      </li>
      <li class="item-info">

        <span class="tag-language">{{vm.repoData.language}}</span>
      </li>
      
      <li class="item-info box-stars">
        <span class="icon">
          <svg viewBox="0 0 47 47" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.41"><path d="M21.57 2.05c.3-.6.93-1 1.6-1 .7 0 1.32.4 1.62 1l5.75 11.7c.26.52.77.9 1.35.97l12.92 1.88c.67.1 1.23.57 1.44 1.22.22.65.04 1.36-.45 1.84l-9.32 9.1c-.42.42-.6 1-.5 1.6l2.2 12.85c.1.7-.17 1.37-.73 1.77-.55.4-1.28.46-1.9.14l-11.53-6.06c-.5-.28-1.14-.28-1.66 0L10.8 45.1c-.6.32-1.34.26-1.9-.14-.55-.4-.82-1.08-.7-1.75l2.2-12.84c.1-.58-.1-1.17-.52-1.6l-9.34-9.1c-.5-.47-.66-1.18-.45-1.83.2-.65.75-1.12 1.43-1.22l12.9-1.87c.6-.08 1.1-.45 1.36-.98l5.76-11.7z" fill="#fff" fill-rule="nonzero"/></svg>
        </span>
        <span class="info-start">{{vm.repoData.stargazers_count}}</span>
      </li>
    </ul>
  </header>
  <span class="description">{{vm.repoData.description}}</span>
  
  <a class="btn btn-primary" ng-click="vm.goBack()">Voltar</a>
</section>