.header {
  background-color: $color-primary;
  color: #fff;
  padding: 10px;
  height: 180px;
}
.title-repo {
  font-size: 2em;
  text-align: center;
  color: #fff;
  padding: 50px 0;
}
.description {
  text-align: center;
  display: block;
  margin: 30px 0;
}
.item-info {
  float: left;
}
.info-repo {
  max-width: 100%;
  width: 260px;
  margin: 0 auto;
}
.tag-language {
  margin: 0 20px;
}
.box-stars {
  float: left;
}
.link-repo {
  text-decoration: underline;
  color: #fff;
}
.info-start {
  margin-left: 4px;
}
.icon {
  width: 15px;
  float: left;
}
.repo-inner {
  .btn-primary {
    position: absolute;
    left: 50%;
    margin-left: -30px;
  }
}