.btn {
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
}
.btn-primary {
  @extend .btn;
  background-color: $color-primary;
  font-size: 11px;
}