<section>
  <div class="box-search">
    <form class="" action="" ng-submit='vm.searchUser(vm.username)'>
      <fieldset class="form-inner">
        <input class="input-search" type="text" ng-model="vm.username" placeholder="Digite o nickname do Usuário">
        <button class="btn btn-primary">Pesquisar</button>
      </fieldset>
    </form>
  </div>
  
  <loading ng-show="vm.load"></loading>

  <section class="box-user-wrapper" ng-show="vm.boxUser">
    <div class="box-user-inner">  
      <figure class="img-wrapper">
        <img src="{{vm.userData.avatar_url}}" alt="">
      </figure>
      <div class="box-info-user">
        <h1 class="user-name">{{vm.userData.name}}</h1>
        <span class="info-item info-email">{{vm.userData.email}}</span>
        <span class="info-item info-bio">{{vm.userData.bio}}</span>
        <div class="box-counter">
          <p class="info-item info-counter">Followers: <span class="info-number">{{vm.userData.followers}}</span></p>
          <p class="info-item info-counter">Following: <span class="info-number">{{vm.userData.following}}</span></p>
        </div>
      </div>
      
      <div class="repo-box">
        <h2 class="title">Repositórios</h2>
        <div class="box-sorting">
          <a class="sorting-name" href="" ng-click="vm.orderBy('name')">Nome</a>
          <a class="sorting-stars" href="" ng-click="vm.orderBy('stargazers_count')">Stars</a>
        </div>
        <ul class="box-list">
          <li class="list-line" ng-repeat="repo in vm.userRepo | orderBy:vm.criterionSorting:vm.directionSorting">
              <a class="link-item" ui-sref="repo({ id: repo.full_name })">{{repo.name}}</a>
              <span class="list-count">{{repo.stargazers_count}}</span>
          </li>
        </ul>
      </div>

    </div>
  </section>
  
</section>