.box-search {
  width: 300px;
  margin: 50px auto;
}
.form-inner {
  position: relative;
  .input-search {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 100px 10px 10px;
    outline: none;
    font-size: 14px;
  } 
  .btn-primary {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 10px;
  }
}
.box-user-wrapper {
  margin-top: 200px;
  color: $color-primary;
}
.box-user-inner {
  padding: 10px;
  background-color: #fff;
}
.box-info-user {
  width: 300px;
  min-height: 180px;
  margin: 20px auto;
}
.user-name {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}
.info-bio {
  text-align: center;
  display: block;
  margin: 20px 0;
}
.info-email {
  text-align: center;
  display: block;
  margin: 20px 0;
}
.box-counter {
  width: 300px;
  margin: 0 auto;
}
.info-counter {
  margin: 0 10px;
  float: left;
}
.info-number {
  background-color: $color-primary;
  border-radius: 20px;
  color: #fff;
  padding: 2px 7px;
  font-size: .8em;
}
.img-wrapper {
  width: 200px;
  margin: -110px auto 0;
  img {
    border-radius: 50%;
    border: 3px solid #fff;
  }
}

.repo-box {
  max-width: 450px;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
}
.link-item {
  color: $color-primary;
  &:hover {
    text-decoration: underline;
  }
}
.box-list {
  width: 100%;
}
.list-line {
  border-bottom: 1px solid $color-primary;
  display: block;
  padding: 20px 0;
  &:last-child {
    border-bottom: none;
  }
}
.list-count {
  float: right;
}
.sorting-stars {
  float: right;
}
.sorting-stars, .sorting-name {
  text-decoration: underline;
}